{% extends '::base.html.twig' %}

{% block content %}

<h1>Path creation</h1>

<form action="{{ path('path_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Create</button>
    </p>
</form>


&larr; <a href="{{ path('path') }}">Back to the list</a>

{% endblock %}