<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}MovieAster{% endblock %}</title>
		<link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('css/settings.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/x-icon" />
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
